
import requests
​
response = requests.request("GET", 'https://sandbox.safaricom.co.ke/oauth/v1/generate?grant_type=client_credentials', headers = { 'Authorization': 'Bearer cFJZcjZ6anEwaThMMXp6d1FETUxwWkIzeVBDa2hNc2M6UmYyMkJmWm9nMHFRR2xWOQ==' })
print(response.text.encode('utf8'))



# The Mpesa environment to use
# Possible values: sandbox, production

MPESA_ENVIRONMENT = 'sandbox'

# Credentials for the daraja app

MPESA_CONSUMER_KEY = '3JiI8HrEq6AdKAzXhPBpoc6zItomo3olM85tUGJlBuSGxAWJ'
MPESA_CONSUMER_SECRET = 'GHllCzL8uxW6RFxGM2JQEQeaFdGEBFZQyAlzXvcckRi5DxsnxDNIIOy3CXMRMVbh'

#Shortcode to use for transactions. For sandbox  use the Shortcode 1 provided on test credentials page

MPESA_SHORTCODE = '174379'

# Shortcode to use for Lipa na MPESA Online (MPESA Express) transactions
# This is only used on sandbox, do not set this variable in production
# For sandbox use the Lipa na MPESA Online Shorcode provided on test credentials page

MPESA_EXPRESS_SHORTCODE = 'mpesa_express_shortcode'

# Type of shortcode
# Possible values:
# - paybill (For Paybill)
# - till_number (For Buy Goods Till Number)

MPESA_SHORTCODE_TYPE = 'paybill'

# Lipa na MPESA Online passkey
# Sandbox passkey is available on test credentials page
# Production passkey is sent via email once you go live

MPESA_PASSKEY = 'mpesa_passkey'

# Username for initiator (to be used in B2C, B2B, AccountBalance and TransactionStatusQuery Transactions)

MPESA_INITIATOR_USERNAME = 'initiator_username'

# Plaintext password for initiator (to be used in B2C, B2B, AccountBalance and TransactionStatusQuery Transactions)

MPESA_INITIATOR_SECURITY_CREDENTIAL = 'initiator_security_credential'


MPESA_ENVIRONMENT = 'sandbox'
MPESA_CONSUMER_KEY = '3JiI8HrEq6AdKAzXhPBpoc6zItomo3olM85tUGJlBuSGxAWJ'
MPESA_CONSUMER_SECRET = 'GHllCzL8uxW6RFxGM2JQEQeaFdGEBFZQyAlzXvcckRi5DxsnxDNIIOy3CXMRMVbh'
MPESA_EXPRESS_SHORTCODE = '174379'
MPESA_PASSKEY = 'bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919'
LNM_PHONE_NUMBER = '254717378758'